%hi Account

= form_tag edit_user_path(@user), :method => :get do

    Include:
    - @all_interests.each do |interest|
        = interest
        = check_box_tag "interests[#{interest}]", 1, @selected_interests.include?(interest), id: "interests_#{interest}"
    = submit_tag 'Save', :id => 'interests_submit'

= link_to 'Return to home page', users_path