%hi Account

= form_tag users_path, :method => :get do

    Include:
    - @all_interests.each do |interest|
        = check_box_tag "#{interest}", 1, @selected_interests.include?(interest), id: "interests_#{interest}"
        = interest

    = submit_tag 'save'

= link_to 'Return to home page', users_path