%h1 Log In

%p{:class => "error"}= flash[:error]
= form_tag authenticate_user_path, :method => 'post' do

    = label :user, :username, 'Username'
    = text_field :user, 'username'

    = label :user, :password, 'Password'
    = text_field :user, 'password'

    = submit_tag 'Log In'

= link_to 'Create new account', new_user_path

= link_to 'Return to home page', users_path