%h1 User Sign Update

%p{:class => "error"}= flash[:error]
= form_tag users_path :method => 'post' do

    = label :user, :username, 'Username'
    = text_field :user, 'username'

    = label :user, :password, 'Password'
    = text_field :user, 'password'

    = label :user, 'Confirm Password'
    = text_field :user, 'confirm_password'

    = submit_tag 'Sign Up'