<?xml version="1.0" encoding="utf-8"?>

<ul>
  <li><a href="/">Map</a></li>
  <li><a href="">Events</a></li>
  <% if current_user %>
    <li style="float:right"><a class="active" href="/logout">Logout</a></li>
    <li style="float:right"><a class="active" href="<%=edit_user_path(current_user)%>">Profile</a></li>
  <% else %>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
  <% end %>
</ul>

<hi>Account: <%= @user.name %></hi>
<%= form_tag edit_user_path(@user), :method => :get do %>
  Include:
  <% @all_interests.each do |interest| %>
    <%= interest %>
    <%= check_box_tag "interests[#{interest}]", 1, @selected_interests.include?(interest), id: "interests_#{interest}" %>
  <% end %>
  <%= submit_tag 'Save', :id => 'interests_submit' %>
<% end %>
