<ul>
  <li><a href='/' border="0"><img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t34.0-12/24550331_10213309660208541_102850707_n.png?oh=b35d30ccb6a4e0134d2ca157d57191b4&oe=5A261EF0" border="0" height="48" width="48" alt="logo"></a></li>
  <li><%=link_to "Immigration Map", root_path(:map=>"immigration_activity") + "#works" %></li>
  <li><%=link_to "Gun Control Map", root_path(:map=>"gun_control_activity") + "#works" %></li>
  <li><%=link_to "Environment Map", root_path(:map=>"environment_activity") + "#works" %></li>
  <li><%=link_to "Events", events_path %></li>
  <li><%=link_to "Representatives", persons_path %></li>

  <% if current_user %>
    <li style="float:right"><a class="active" href="/logout">Logout</a></li>
    <li style="float:right"><a class="active" href="<%=user_path(current_user)%>">Profile</a></li>
  <% else %>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
  <% end %>
</ul>