<?xml version="1.0" encoding="UTF-8"?>

<ul>
  <li><%=link_to "Immigration Map", state_map_path(:map=>"immigration_activity")%></li>
  <li><%=link_to "Gun Control Map", state_map_path(:map=>"gun_control_activity")%></li>
  <li><%=link_to "Environment Map", state_map_path(:map=>"environment_activity")%></li>
  <li><%=link_to "Back to Country Map", root_path(:map=>@map)%></li>

  <li><a href="">Events</a></li>
  <% if current_user %>
    <li style="float:right"><a class="active" href="/logout">Logout</a></li>
    <li style="float:right"><a class="active" href="<%=edit_user_path(current_user)%>">Profile</a></li>
  <% else %>
    <li style="float:right"><a class="active" href="/login">Login</a></li>
  <% end %>
</ul>

<div id="info-box"></div>

<svg version=1.1 xmlns="http://www.w3.org/2000/svg" height="600px" width="70%">
  <g id="layer1" transform="translate(-300,-700)">
    <g transform="scale(2)">
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 493.69883,493.29248 L 508.4971,489.78124 L 506.77691,493.49349 L 503.21501,498.26335 L 502.10546,498.37437 L 501.7638,498.57032 L 501.65042,498.68557 L 501.51249,498.81031 L 501.23796,499.08749 L 501.05803,499.32245 L 500.87457,499.55315 L 500.70858,499.7658 L 500.05859,500.84231 L 499.17907,502.63356 L 497.50969,507.83959 L 497.28094,508.79469 L 495.20664,519.91008 L 495.32508,520.36253 L 493.23315,521.06937 L 489.76097,521.00673 L 489.51261,520.80188 L 489.38785,520.41581 L 489.45402,520.29999 L 489.69958,520.16187 L 490.06593,519.66497 L 490.05337,517.60368 L 487.91766,516.49441 L 484.00386,517.2642 L 483.81795,516.81715 L 483.79637,516.54723 L 484.22233,514.63798 L 484.69682,513.41871 L 488.06359,505.85722 L 490.14651,503.34151 L 490.85953,502.55461 L 491.07794,502.20515 L 491.92956,500.29307 L 492.01912,499.68316 L 492.17097,495.68771 L 493.69883,493.29248"
         id="Accomack" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 484.00386,517.2642 L 487.91766,516.49441 L 490.05337,517.60368 L 490.06593,519.66497 L 489.69958,520.16187 L 489.45402,520.29999 L 489.38785,520.41581 L 489.51261,520.80188 L 489.76097,521.00673 L 493.23315,521.06937 L 495.32508,520.36253 L 495.48142,520.74767 L 495.42217,521.5771 L 491.53017,534.44958 L 491.06142,535.15336 L 490.54635,535.88821 L 490.52981,535.93783 L 488.54596,538.44723 L 488.4774,538.54704 L 488.15601,538.90249 L 487.81696,539.15382 L 487.59445,539.13264 L 485.21732,538.69761 L 483.04559,535.0285 L 482.24317,532.45085 L 482.15201,530.84294 L 482.16755,529.35546 L 482.25191,528.6348 L 482.95261,523.30111 L 483.45822,519.85139 L 483.69202,518.71951 L 484.00386,517.2642"
         id="Northampton" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 244.89612,538.10143 L 246.57158,539.3284 L 245.99775,539.52193 L 244.06926,540.95335 L 243.93191,541.27904 L 244.14126,542.0592 L 247.07853,547.20346 L 250.11422,550.40335 L 250.12984,550.40483 L 250.56427,550.68252 L 254.88401,552.72444 L 253.89744,554.81275 L 249.75412,556.95902 L 248.63571,558.07365 L 244.93551,559.28918 L 244.46671,559.57936 L 244.1225,560.38168 L 243.98683,561.06202 L 243.89394,562.20338 L 243.48541,562.7711 L 241.88813,563.70228 L 239.30171,563.8106 L 239.01023,563.72771 L 232.01074,550.89781 L 244.89612,538.10143"
         id="Buchanan" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 269.59609,546.93221 L 275.36105,551.83354 L 274.0089,555.07268 L 268.96406,561.2691 L 267.57061,563.78349 L 264.4929,564.37681 L 262.04352,565.15599 L 257.16148,566.78683 L 253.98488,567.17774 L 248.63571,558.07365 L 249.75412,556.95902 L 253.89744,554.81275 L 254.88401,552.72444 L 257.36996,554.54062 L 262.06711,554.06599 L 262.19871,554.00761 L 264.07497,552.58698 L 264.10956,552.55481 L 267.85671,549.72876 L 269.59609,546.93221"
         id="Tazewell" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 270.05381,566.5802 L 275.36044,575.92446 L 261.90336,583.05725 L 261.37712,583.33016 L 257.70957,575.59542 L 251.80563,568.80194 L 253.98488,567.17774 L 257.16148,566.78683 L 262.04352,565.15599 L 264.4929,564.37681 L 267.57061,563.78349 L 270.05381,566.5802"
         id="Smyth" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 240.27283,586.46568 L 236.35026,586.62406 L 238.71696,582.82367 L 240.10791,582.15645 L 241.14126,582.18392 L 241.77869,582.56365 L 242.00125,583.57746 L 241.8117,584.65841 L 240.27283,586.46568"
         id="Bristol" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 251.80563,568.80194 L 257.70957,575.59542 L 261.37712,583.33016 L 261.90336,583.05725 L 260.32228,584.52174 L 253.07086,584.80838 L 249.20572,584.90135 L 248.81244,586.05349 L 240.27283,586.46568 L 241.8117,584.65841 L 242.00125,583.57746 L 241.77869,582.56365 L 241.14126,582.18392 L 240.10791,582.15645 L 238.71696,582.82367 L 236.35026,586.62406 L 234.31908,586.73403 L 232.4969,581.00658 L 240.93584,574.61721 L 247.05269,572.30429 L 251.80563,568.80194"
         id="Washington" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 248.63571,558.07365 L 253.98488,567.17774 L 251.80563,568.80194 L 247.05269,572.30429 L 240.93584,574.61721 L 232.4969,581.00658 L 229.08899,572.65451 L 232.01087,567.69769 L 239.01023,563.72771 L 239.30171,563.8106 L 241.88813,563.70228 L 243.48541,562.7711 L 243.89394,562.20338 L 243.98683,561.06202 L 244.1225,560.38168 L 244.46671,559.57936 L 244.93551,559.28918 L 248.63571,558.07365"
         id="Russell" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 220.63385,567.62708 L 220.72196,567.28096 L 221.46199,567.74134 L 221.79438,568.13932 L 221.76785,569.20426 L 220.68144,571.05855 L 219.25311,571.33225 L 218.15779,570.17627 L 218.3862,569.3078 L 219.18397,568.12719 L 220.13959,567.64699 L 220.63385,567.62708"
         id="Norton" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 222.43377,556.41467 L 222.89926,560.25618 L 225.58776,564.45503 L 226.30105,565.36195 L 230.6714,568.52737 L 231.29542,568.30316 L 232.01087,567.69769 L 229.08899,572.65451 L 223.44787,572.6178 L 220.62353,572.82557 L 219.94729,572.97786 L 215.45844,575.56787 L 214.67908,576.67932 L 214.62705,577.22583 L 209.8036,572.3235 L 210.32668,568.52489 L 221.96406,556.67327 L 222.43377,556.41467 z M 220.63385,567.62708 L 220.13959,567.64699 L 219.18397,568.12719 L 218.3862,569.3078 L 218.15779,570.17627 L 219.25311,571.33225 L 220.68144,571.05855 L 221.76785,569.20426 L 221.79438,568.13932 L 221.46199,567.74134 L 220.72196,567.28096 L 220.63385,567.62708"
         id="Wise" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 232.01074,550.89781 L 239.01023,563.72771 L 232.01087,567.69769 L 231.29542,568.30316 L 230.6714,568.52737 L 226.30105,565.36195 L 225.58776,564.45503 L 222.89926,560.25618 L 222.43377,556.41467 L 224.08514,555.45318 L 230.34956,552.66585 L 232.01074,550.89781"
         id="Dickenson" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 214.62705,577.22583 L 214.67908,576.67932 L 215.45844,575.56787 L 219.94729,572.97786 L 220.62353,572.82557 L 223.44787,572.6178 L 229.08899,572.65451 L 232.4969,581.00658 L 234.31908,586.73403 L 221.63031,587.40908 L 212.71261,587.82074 L 206.49192,588.07945 L 207.81558,583.85675 L 209.52047,582.5813 L 214.62705,577.22583"
         id="Scott" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 214.62705,577.22583 L 209.52047,582.5813 L 207.81558,583.85675 L 206.49192,588.07945 L 186.85396,588.67993 L 178.66063,588.80602 L 187.18243,585.22912 L 191.43244,583.45145 L 200.24048,579.51577 L 208.83817,573.69299 L 209.8036,572.3235 L 214.62705,577.22583"
         id="Lee" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 275.36105,551.83354 L 284.97232,548.27368 L 290.43833,555.36424 L 288.36367,559.28303 L 283.54537,561.03023 L 280.09909,561.97845 L 275.96755,561.35277 L 273.58382,562.97326 L 270.05381,566.5802 L 267.57061,563.78349 L 268.96406,561.2691 L 274.0089,555.07268 L 275.36105,551.83354"
         id="Bland" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 284.01963,573.17995 L 288.27898,579.00151 L 287.9762,579.3272 L 287.75392,580.17264 L 287.76044,580.7247 L 287.95899,581.20447 L 288.89464,582.58948 L 289.70528,582.47362 L 290.11811,582.06781 L 290.12552,581.4107 L 293.04599,585.24169 L 290.46775,585.2641 L 272.24475,585.73144 L 259.15275,585.8009 L 260.32228,584.52174 L 261.90336,583.05725 L 275.36044,575.92446 L 284.01963,573.17995"
         id="Grayson" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 288.27898,579.00151 L 288.29646,578.98348 L 288.68179,578.70111 L 289.15875,578.15959 L 290.47072,577.94965 L 291.66895,578.27248 L 291.01825,579.68766 L 290.12996,580.95026 L 290.12552,581.4107 L 290.11811,582.06781 L 289.70528,582.47362 L 288.89464,582.58948 L 287.95899,581.20447 L 287.76044,580.7247 L 287.75392,580.17264 L 287.9762,579.3272 L 288.27898,579.00151"
         id="Galax" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 295.89515,568.71694 L 284.01963,573.17995 L 275.36044,575.92446 L 270.05381,566.5802 L 273.58382,562.97326 L 275.96755,561.35277 L 280.09909,561.97845 L 283.54537,561.03023 L 288.36367,559.28303 L 295.89515,568.71694"
         id="Wythe" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 289.36278,541.08931 L 293.05742,543.69805 L 298.29832,540.49029 L 298.73477,540.20884 L 302.99107,537.4549 L 304.61865,540.34348 L 306.67873,545.72332 L 299.99223,549.75851 L 290.43833,555.36424 L 284.97232,548.27368 L 289.32262,541.01458 L 289.36278,541.08931"
         id="Giles" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 301.74259,558.0198 L 301.49407,558.18914 L 300.75941,557.21718 L 300.48035,556.54856 L 300.3753,555.95559 L 300.57361,555.40331 L 301.45021,554.63592 L 302.34337,554.14979 L 302.73614,554.1202 L 303.09267,554.099 L 303.41463,554.02722 L 303.77988,553.7902 L 304.58348,554.0794 L 304.84805,555.0657 L 304.47464,555.63676 L 302.79876,557.35223 L 301.74259,558.0198"
         id="Radford" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 299.99223,549.75851 L 302.73614,554.1202 L 302.34337,554.14979 L 301.45021,554.63592 L 300.57361,555.40331 L 300.3753,555.95559 L 300.48035,556.54856 L 300.75941,557.21718 L 301.49407,558.18914 L 301.74259,558.0198 L 303.39649,562.82525 L 299.97874,565.74961 L 295.89515,568.71694 L 288.36367,559.28303 L 290.43833,555.36424 L 299.99223,549.75851"
         id="Pulaski" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 428.52391,455.96665 L 426.05725,456.88598 L 424.8844,455.0136 L 426.32702,454.05194 L 426.5895,454.27387 L 428.52391,455.96665"
         id="Falls_Church" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 429.92513,452.21222 L 431.27531,453.54608 L 432.96226,454.48658 L 433.80536,456.59542 L 430.77598,456.76399 L 430.2942,457.52169 L 428.52391,455.96665 L 426.5895,454.27387 L 426.32702,454.05194 L 426.24356,453.97704 L 429.92513,452.21222"
         id="Arlington" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 299.97874,565.74961 L 307.55419,576.62544 L 306.00461,579.62128 L 305.32391,580.06856 L 304.73615,580.2844 L 304.42517,580.19965 L 303.14231,579.31732 L 302.68262,579.30507 L 302.45751,579.39393 L 301.7267,581.36084 L 301.45944,582.26501 L 302.13898,584.68521 L 293.04599,585.24169 L 290.12552,581.4107 L 290.12996,580.95026 L 291.01825,579.68766 L 291.66895,578.27248 L 290.47072,577.94965 L 289.15875,578.15959 L 288.68179,578.70111 L 288.29646,578.98348 L 288.27898,579.00151 L 284.01963,573.17995 L 295.89515,568.71694 L 299.97874,565.74961"
         id="Carroll" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 338.28957,582.92281 L 325.72089,583.82594 L 324.66581,583.90276 L 324.54461,580.49973 L 324.0335,578.21373 L 323.78699,577.65851 L 323.25141,576.95365 L 322.39587,574.93423 L 322.13251,572.1558 L 322.14922,571.98013 L 322.6351,571.51036 L 324.21678,571.07401 L 327.01112,569.31928 L 333.8308,570.46473 L 335.95676,569.93838 L 340.04389,566.72716 L 338.28957,582.92281 z M 330.79455,574.34713 L 330.60255,574.50216 L 329.59791,576.32482 L 330.2822,577.12263 L 332.66219,578.6451 L 333.56632,578.25059 L 333.84307,577.37097 L 333.12522,574.69108 L 331.11017,574.09356 L 330.79455,574.34713"
         id="Henry" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 316.16122,567.68384 L 324.21678,571.07401 L 322.6351,571.51036 L 322.14922,571.98013 L 322.13251,572.1558 L 322.39587,574.93423 L 323.25141,576.95365 L 323.78699,577.65851 L 324.0335,578.21373 L 324.54461,580.49973 L 324.66581,583.90276 L 309.08743,584.60213 L 302.13898,584.68521 L 301.45944,582.26501 L 301.7267,581.36084 L 302.45751,579.39393 L 302.68262,579.30507 L 303.14231,579.31732 L 304.42517,580.19965 L 304.73615,580.2844 L 305.32391,580.06856 L 306.00461,579.62128 L 307.55419,576.62544 L 316.16122,567.68384"
         id="Patrick" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 319.53995,554.61677 L 316.16122,567.68384 L 307.55419,576.62544 L 299.97874,565.74961 L 303.39649,562.82525 L 306.24351,562.2139 L 309.32787,561.13672 L 311.20434,560.25179 L 311.33872,559.95734 L 313.47759,557.30909 L 317.57758,555.24535 L 319.53995,554.61677"
         id="Floyd" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 313.39585,543.93232 L 314.52972,546.62817 L 316.6218,549.23011 L 317.55244,554.39214 L 317.57758,555.24535 L 313.47759,557.30909 L 311.33872,559.95734 L 311.20434,560.25179 L 309.32787,561.13672 L 306.24351,562.2139 L 303.39649,562.82525 L 301.74259,558.0198 L 302.79876,557.35223 L 304.47464,555.63676 L 304.84805,555.0657 L 304.58348,554.0794 L 303.77988,553.7902 L 303.41463,554.02722 L 303.09267,554.099 L 302.73614,554.1202 L 299.99223,549.75851 L 306.67873,545.72332 L 313.39585,543.93232"
         id="Montgomery" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 323.19751,544.7038 L 323.07017,544.92409 L 322.81434,547.23951 L 323.09078,547.85272 L 320.49802,547.53109 L 320.50792,544.94411 L 323.19751,544.7038"
         id="Salem" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 330.35601,548.57972 L 341.17097,557.12085 L 340.04389,566.72716 L 335.95676,569.93838 L 333.8308,570.46473 L 327.01112,569.31928 L 324.21678,571.07401 L 316.16122,567.68384 L 319.53995,554.61677 L 322.86981,552.07794 L 325.20886,553.20262 L 326.07344,553.43066 L 326.40636,553.28511 L 327.93371,551.84701 L 330.35601,548.57972"
         id="Franklin_County" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 320.58998,539.24036 L 330.01507,544.34041 L 330.35601,548.57972 L 327.93371,551.84701 L 326.40636,553.28511 L 326.07344,553.43066 L 325.20886,553.20262 L 322.86981,552.07794 L 319.53995,554.61677 L 317.57758,555.24535 L 317.55244,554.39214 L 316.6218,549.23011 L 314.52972,546.62817 L 313.39585,543.93232 L 313.83116,543.3317 L 315.73122,541.82666 L 318.29288,541.02666 L 320.58998,539.24036 z M 323.19751,544.7038 L 320.50792,544.94411 L 320.49802,547.53109 L 323.09078,547.85272 L 323.19376,548.09493 L 325.98047,549.56552 L 326.33774,549.61922 L 327.10043,549.01432 L 327.97217,547.80136 L 328.90779,545.33793 L 328.76946,544.7221 L 328.6094,544.54144 L 327.69145,543.92228 L 325.14162,543.27386 L 323.3001,544.53631 L 323.19751,544.7038"
         id="Roanoke_County" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 345.11265,527.42171 L 355.7171,534.28448 L 352.64071,534.90549 L 353.33248,540.13538 L 347.1559,555.94555 L 341.17097,557.12085 L 330.35601,548.57972 L 330.01507,544.34041 L 332.21994,542.03326 L 331.91361,539.0853 L 335.64399,535.35956 L 336.08433,534.99576 L 336.79573,534.84683 L 337.08386,534.96486 L 337.60938,535.44424 L 338.26169,536.24685 L 339.58819,536.46372 L 339.78616,536.41164 L 339.99657,536.27019 L 342.31089,533.18564 L 343.02501,531.89074 L 345.11265,527.42171 z M 341.7293,541.15798 L 341.13203,541.10113 L 340.99063,542.04879 L 341.78219,543.08525 L 342.35249,543.38376 L 344.02919,543.31491 L 344.76445,541.21843 L 343.73479,540.40745 L 341.8882,540.60589 L 341.7293,541.15798"
         id="Bedford_County" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 319.39611,512.26269 L 321.45516,511.6945 L 324.09177,511.80367 L 324.17822,511.84736 L 325.92774,514.53091 L 326.22386,514.77181 L 334.10332,516.66019 L 335.6487,515.15685 L 335.15286,520.73848 L 329.35851,519.24946 L 328.30682,520.28379 L 328.39067,520.52022 L 328.13065,521.22421 L 327.57043,522.06109 L 326.01856,524.005 L 322.65715,527.04106 L 321.87106,527.64376 L 321.08698,527.35641 L 317.15454,530.59811 L 314.6623,529.75821 L 314.00071,529.21862 L 310.78861,526.17526 L 319.39611,512.26269 z M 321.75408,519.23072 L 321.43132,521.91791 L 321.92136,522.48056 L 322.58055,523.00417 L 323.97965,522.08563 L 323.91373,519.63323 L 323.76258,519.19342 L 322.38161,518.76262 L 321.75408,519.23072"
         id="Alleghany" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 321.87106,527.64376 L 321.45397,528.13581 L 321.68523,528.85109 L 324.30125,532.7358 L 321.5515,538.11866 L 320.58998,539.24036 L 318.29288,541.02666 L 315.73122,541.82666 L 313.83116,543.3317 L 313.39585,543.93232 L 306.67873,545.72332 L 304.61865,540.34348 L 305.85456,539.48426 L 310.73409,535.93487 L 309.99491,534.18256 L 311.47147,531.747 L 314.00071,529.21862 L 314.6623,529.75821 L 317.15454,530.59811 L 321.08698,527.35641 L 321.87106,527.64376"
         id="Craig" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 335.15286,520.73848 L 343.02501,531.89074 L 342.31089,533.18564 L 339.99657,536.27019 L 339.78616,536.41164 L 339.58819,536.46372 L 338.26169,536.24685 L 337.60938,535.44424 L 337.08386,534.96486 L 336.79573,534.84683 L 336.08433,534.99576 L 335.64399,535.35956 L 331.91361,539.0853 L 332.21994,542.03326 L 330.01507,544.34041 L 320.58998,539.24036 L 321.5515,538.11866 L 324.30125,532.7358 L 321.68523,528.85109 L 321.45397,528.13581 L 321.87106,527.64376 L 322.65715,527.04106 L 326.01856,524.005 L 327.57043,522.06109 L 328.13065,521.22421 L 328.39067,520.52022 L 328.30682,520.28379 L 329.35851,519.24946 L 335.15286,520.73848"
         id="Botetourt" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 354.84514,517.12588 L 356.20505,516.4951 L 358.78225,517.89061 L 358.93637,518.05101 L 362.632,522.09758 L 363.55797,523.3359 L 366.70312,529.27593 L 367.95915,529.36398 L 362.50352,535.57251 L 360.00064,537.57557 L 355.7171,534.28448 L 345.11265,527.42171 L 345.57328,527.46556 L 346.49933,526.84075 L 347.85421,525.72498 L 348.5858,524.90834 L 349.78887,521.08385 L 350.47376,519.39225 L 350.92728,518.60035 L 351.92561,517.25762 L 352.3483,516.87245 L 354.84514,517.12588"
         id="Amherst" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 341.44388,503.72599 L 347.49562,507.64231 L 353.90575,511.51791 L 355.06277,512.60492 L 354.84514,517.12588 L 352.3483,516.87245 L 351.92561,517.25762 L 350.92728,518.60035 L 350.47376,519.39225 L 349.78887,521.08385 L 348.5858,524.90834 L 347.85421,525.72498 L 346.49933,526.84075 L 345.57328,527.46556 L 345.11265,527.42171 L 343.02501,531.89074 L 335.15286,520.73848 L 335.6487,515.15685 L 341.44388,503.72599 z M 344.77442,518.35343 L 345.00841,517.34368 L 343.5648,516.86753 L 342.49744,517.07316 L 341.8188,517.87121 L 342.10924,519.28933 L 342.75503,519.95346 L 343.42755,519.59206 L 344.77442,518.35343 z M 345.96063,519.67168 L 345.29815,519.92767 L 345.16638,520.36024 L 345.32671,522.40016 L 345.87177,523.21228 L 346.46439,523.35927 L 347.1408,522.7501 L 347.37129,522.39783 L 348.21196,520.31139 L 348.24495,518.8059 L 346.9482,518.77307 L 345.96733,519.60142 L 345.96063,519.67168"
         id="Rockbridge" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 328.45445,495.60026 L 330.30481,496.68631 L 332.07023,497.54761 L 337.86008,498.25629 L 339.88572,499.03207 L 341.44388,503.72599 L 335.6487,515.15685 L 334.10332,516.66019 L 326.22386,514.77181 L 325.92774,514.53091 L 324.17822,511.84736 L 324.09177,511.80367 L 321.45516,511.6945 L 319.39611,512.26269 L 322.71201,506.31135 L 328.45445,495.60026"
         id="Bath" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 346.79616,486.64386 L 346.41362,487.10376 L 343.81356,492.94203 L 343.56878,493.65138 L 343.66306,494.19213 L 342.77016,496.28936 L 339.88572,499.03207 L 337.86008,498.25629 L 332.07023,497.54761 L 330.30481,496.68631 L 328.45445,495.60026 L 327.6883,493.59329 L 327.69351,493.53863 L 327.72974,493.36482 L 330.49463,489.8505 L 331.88487,486.25259 L 332.41855,482.71494 L 332.88175,478.55219 L 336.68487,479.8556 L 337.44386,480.28237 L 338.11143,481.09038 L 340.16344,484.85838 L 346.79616,486.64386"
         id="Highland" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 379.15403,483.38599 L 380.20524,480.53575 L 387.65405,490.30055 L 384.7961,494.99953 L 372.83838,491.30491 L 379.15403,483.38599"
         id="Greene" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 355.31197,468.06664 L 362.63866,467.36176 L 372.22,474.62738 L 370.70806,479.54509 L 373.65948,481.43708 L 376.48207,482.90321 L 377.07711,483.14892 L 379.15403,483.38599 L 372.83838,491.30491 L 369.76755,495.21946 L 363.37894,490.70387 L 357.63786,487.62068 L 349.89973,482.96482 L 355.31197,468.06664 z M 363.79243,481.35264 L 363.58053,481.50972 L 362.4733,483.25173 L 362.21737,484.07818 L 362.34353,486.3118 L 362.48629,486.46718 L 363.48151,486.27438 L 365.77063,484.61337 L 365.82859,483.83896 L 365.33463,482.86234 L 363.79243,481.35264"
         id="Rockingham" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 346.79616,486.64386 L 349.89973,482.96482 L 357.63786,487.62068 L 363.37894,490.70387 L 369.76755,495.21946 L 369.38748,496.60529 L 368.91843,499.1328 L 369.19123,501.10857 L 369.14739,501.5692 L 368.52769,502.45165 L 366.92596,503.59512 L 363.33773,509.46933 L 361.81392,511.49073 L 358.79883,511.05405 L 358.1196,511.15483 L 357.57756,511.38685 L 355.06277,512.60492 L 353.90575,511.51791 L 347.49562,507.64231 L 341.44388,503.72599 L 339.88572,499.03207 L 342.77016,496.28936 L 343.66306,494.19213 L 343.56878,493.65138 L 343.81356,492.94203 L 346.41362,487.10376 L 346.79616,486.64386 z M 358.50902,496.75939 L 356.22229,497.44376 L 355.88196,498.24643 L 355.68869,499.11825 L 356.01403,499.83854 L 356.89963,500.3837 L 358.32501,500.55483 L 359.136,499.85605 L 359.46722,499.19035 L 359.61643,498.16073 L 359.32344,497.34897 L 359.01651,496.80769 L 358.58766,496.63689 L 358.50902,496.75939 z M 363.79177,500.93339 L 363.41053,500.84195 L 362.43261,501.63907 L 361.72164,502.5286 L 361.69935,502.76281 L 361.88842,503.38347 L 363.17238,504.08867 L 364.92286,503.7826 L 365.18418,503.27177 L 365.44585,502.178 L 365.45737,501.89154 L 364.98944,500.88982 L 363.95405,500.84247 L 363.79177,500.93339"
         id="Augusta" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 366.92596,503.59512 L 376.03799,518.89498 L 369.65402,528.69023 L 367.95915,529.36398 L 366.70312,529.27593 L 363.55797,523.3359 L 362.632,522.09758 L 358.93637,518.05101 L 358.78225,517.89061 L 356.20505,516.4951 L 354.84514,517.12588 L 355.06277,512.60492 L 357.57756,511.38685 L 358.1196,511.15483 L 358.79883,511.05405 L 361.81392,511.49073 L 363.33773,509.46933 L 366.92596,503.59512"
         id="Nelson" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 392.21741,519.61965 L 392.10566,522.44905 L 388.78943,529.64508 L 384.90317,538.2364 L 379.49262,535.73613 L 369.65402,528.69023 L 376.03799,518.89498 L 376.1945,518.57506 L 377.19153,517.61825 L 379.0647,517.26479 L 381.18807,517.17935 L 381.44887,517.0466 L 381.66076,516.88953 L 381.73327,516.70736 L 381.77332,515.12769 L 392.21741,519.61965"
         id="Buckingham" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 379.49262,535.73613 L 376.70176,543.62029 L 371.20914,546.32746 L 362.50352,535.57251 L 367.95915,529.36398 L 369.65402,528.69023 L 379.49262,535.73613"
         id="Appomattox" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 360.00064,537.57557 L 362.50352,535.57251 L 371.20914,546.32746 L 368.80947,555.89536 L 361.14009,554.53116 L 360.11728,553.52389 L 354.38796,551.43445 L 350.92119,551.85288 L 349.86039,552.94147 L 347.1559,555.94555 L 353.33248,540.13538 L 355.62677,541.77181 L 360.00064,537.57557"
         id="Campbell" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 361.14009,554.53116 L 368.80947,555.89536 L 375.87349,558.86025 L 378.85839,564.58021 L 378.55808,569.43204 L 378.59097,569.54153 L 379.73184,571.08787 L 380.47857,571.478 L 377.72396,579.68466 L 375.23495,579.92832 L 361.48796,581.0856 L 358.25297,581.3449 L 361.14009,554.53116"
         id="Halifax" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 347.1559,555.94555 L 349.86039,552.94147 L 350.92119,551.85288 L 354.38796,551.43445 L 360.11728,553.52389 L 361.14009,554.53116 L 358.25297,581.3449 L 353.25638,581.7792 L 354.59133,580.25189 L 354.7376,579.99795 L 354.63721,579.56299 L 352.64492,577.02965 L 347.49866,577.33942 L 346.3362,578.54439 L 345.95274,579.05541 L 345.92189,579.21397 L 347.22742,580.18907 L 348.13948,582.19418 L 346.51075,582.33852 L 338.28957,582.92281 L 340.04389,566.72716 L 341.17097,557.12085 L 347.1559,555.94555"
         id="Pittsylvania" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 330.79455,574.34713 L 331.11017,574.09356 L 333.12522,574.69108 L 333.84307,577.37097 L 333.56632,578.25059 L 332.66219,578.6451 L 330.2822,577.12263 L 329.59791,576.32482 L 330.60255,574.50216 L 330.79455,574.34713"
         id="Martinsville" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 353.25638,581.7792 L 348.13948,582.19418 L 347.22742,580.18907 L 345.92189,579.21397 L 345.95274,579.05541 L 346.3362,578.54439 L 347.49866,577.33942 L 352.64492,577.02965 L 354.63721,579.56299 L 354.7376,579.99795 L 354.59133,580.25189 L 353.25638,581.7792"
         id="Danville" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 360.00064,537.57557 L 355.62677,541.77181 L 353.33248,540.13538 L 352.64071,534.90549 L 355.7171,534.28448 L 360.00064,537.57557"
         id="Lynchburg" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 341.7293,541.15798 L 341.8882,540.60589 L 343.73479,540.40745 L 344.76445,541.21843 L 344.02919,543.31491 L 342.35249,543.38376 L 341.78219,543.08525 L 340.99063,542.04879 L 341.13203,541.10113 L 341.7293,541.15798"
         id="Bedford" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 323.19751,544.7038 L 323.3001,544.53631 L 325.14162,543.27386 L 327.69145,543.92228 L 328.6094,544.54144 L 328.76946,544.7221 L 328.90779,545.33793 L 327.97217,547.80136 L 327.10043,549.01432 L 326.33774,549.61922 L 325.98047,549.56552 L 323.19376,548.09493 L 323.09078,547.85272 L 322.81434,547.23951 L 323.07017,544.92409 L 323.19751,544.7038"
         id="Roanoke" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 345.96063,519.67168 L 345.96733,519.60142 L 346.9482,518.77307 L 348.24495,518.8059 L 348.21196,520.31139 L 347.37129,522.39783 L 347.1408,522.7501 L 346.46439,523.35927 L 345.87177,523.21228 L 345.32671,522.40016 L 345.16638,520.36024 L 345.29815,519.92767 L 345.96063,519.67168"
         id="Buena_Vista" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 321.75408,519.23072 L 322.38161,518.76262 L 323.76258,519.19342 L 323.91373,519.63323 L 323.97965,522.08563 L 322.58055,523.00417 L 321.92136,522.48056 L 321.43132,521.91791 L 321.75408,519.23072"
         id="Covington" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 344.77442,518.35343 L 343.42755,519.59206 L 342.75503,519.95346 L 342.10924,519.28933 L 341.8188,517.87121 L 342.49744,517.07316 L 343.5648,516.86753 L 345.00841,517.34368 L 344.77442,518.35343"
         id="Lexington" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 363.79177,500.93339 L 363.95405,500.84247 L 364.98944,500.88982 L 365.45737,501.89154 L 365.44585,502.178 L 365.18418,503.27177 L 364.92286,503.7826 L 363.17238,504.08867 L 361.88842,503.38347 L 361.69935,502.76281 L 361.72164,502.5286 L 362.43261,501.63907 L 363.41053,500.84195 L 363.79177,500.93339"
         id="Waynesboro" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 358.50902,496.75939 L 358.58766,496.63689 L 359.01651,496.80769 L 359.32344,497.34897 L 359.61643,498.16073 L 359.46722,499.19035 L 359.136,499.85605 L 358.32501,500.55483 L 356.89963,500.3837 L 356.01403,499.83854 L 355.68869,499.11825 L 355.88196,498.24643 L 356.22229,497.44376 L 358.50902,496.75939"
         id="Staunton" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 380.70226,501.05408 L 381.57352,501.04641 L 382.44981,501.52372 L 382.63702,502.16391 L 382.22631,503.66497 L 381.66718,504.32471 L 380.0431,504.62705 L 379.56834,504.56609 L 379.28429,503.99154 L 379.25415,503.56326 L 379.47158,502.60313 L 379.76786,501.8908 L 380.70226,501.05408"
         id="Charlottesville" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 363.79243,481.35264 L 365.33463,482.86234 L 365.82859,483.83896 L 365.77063,484.61337 L 363.48151,486.27438 L 362.48629,486.46718 L 362.34353,486.3118 L 362.21737,484.07818 L 362.4733,483.25173 L 363.58053,481.50972 L 363.79243,481.35264"
         id="Harrisonburg" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 372.83838,491.30491 L 384.7961,494.99953 L 391.39408,497.02592 L 388.10646,503.83866 L 381.77332,515.12769 L 381.73327,516.70736 L 381.66076,516.88953 L 381.44887,517.0466 L 381.18807,517.17935 L 379.0647,517.26479 L 377.19153,517.61825 L 376.1945,518.57506 L 376.03799,518.89498 L 366.92596,503.59512 L 368.52769,502.45165 L 369.14739,501.5692 L 369.19123,501.10857 L 368.91843,499.1328 L 369.38748,496.60529 L 369.76755,495.21946 L 372.83838,491.30491 z M 380.70226,501.05408 L 379.76786,501.8908 L 379.47158,502.60313 L 379.25415,503.56326 L 379.28429,503.99154 L 379.56834,504.56609 L 380.0431,504.62705 L 381.66718,504.32471 L 382.22631,503.66497 L 382.63702,502.16391 L 382.44981,501.52372 L 381.57352,501.04641 L 380.70226,501.05408"
         id="Albemarle" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 388.10646,503.83866 L 398.17281,508.07801 L 395.12768,516.39884 L 392.21741,519.61965 L 381.77332,515.12769 L 388.10646,503.83866"
         id="Fluvanna" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 392.21741,519.61965 L 395.12768,516.39884 L 398.99695,520.69038 L 397.59126,531.19585 L 393.89905,535.96904 L 384.90317,538.2364 L 388.78943,529.64508 L 392.10566,522.44905 L 392.21741,519.61965"
         id="Cumberland" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 393.89905,535.96904 L 394.39203,539.6044 L 394.90609,548.56337 L 386.95344,551.37514 L 376.70176,543.62029 L 379.49262,535.73613 L 384.90317,538.2364 L 393.89905,535.96904"
         id="Prince_Edward" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 371.20914,546.32746 L 376.70176,543.62029 L 386.95344,551.37514 L 385.83082,561.10004 L 380.47857,571.478 L 379.73184,571.08787 L 378.59097,569.54153 L 378.55808,569.43204 L 378.85839,564.58021 L 375.87349,558.86025 L 368.80947,555.89536 L 371.20914,546.32746"
         id="Charlotte" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 404.99502,565.14581 L 405.34844,577.07526 L 394.20702,578.12998 L 388.86409,578.68496 L 377.72396,579.68466 L 380.47857,571.478 L 385.83082,561.10004 L 404.99502,565.14581"
         id="Mecklenburg" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 426.80824,539.83026 L 426.22933,538.46346 L 426.12668,537.63831 L 426.45344,537.18493 L 427.19992,536.4603 L 428.07415,536.42139 L 428.52775,536.8703 L 428.54783,537.40397 L 428.43484,537.68075 L 428.53622,539.05725 L 428.489,539.13942 L 428.16836,539.3216 L 428.01165,539.27123 L 427.61629,539.41086 L 427.10751,539.66572 L 426.80824,539.83026"
         id="Colonial_Heights" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 394.90609,548.56337 L 404.76443,552.62932 L 404.99502,565.14581 L 385.83082,561.10004 L 386.95344,551.37514 L 394.90609,548.56337"
         id="Lunenburg" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 429.97143,535.31788 L 431.96301,535.08597 L 432.16004,535.08505 L 433.26073,535.81218 L 433.6251,536.28801 L 433.26563,537.25037 L 431.56279,538.38029 L 430.63332,537.55127 L 429.97143,535.31788"
         id="Hopewell" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 433.80536,456.59542 L 433.84862,459.1205 L 433.84697,459.34486 L 431.33401,460.21253 L 429.17824,459.56222 L 430.2942,457.52169 L 430.77598,456.76399 L 433.80536,456.59542"
         id="Alexandria" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 381.16238,462.28683 L 385.44964,465.53888 L 383.97052,472.42922 L 380.20524,480.53575 L 379.15403,483.38599 L 377.07711,483.14892 L 376.48207,482.90321 L 373.65948,481.43708 L 370.70806,479.54509 L 372.22,474.62738 L 373.88104,470.29503 L 375.2483,467.51818 L 376.84693,468.02093 L 378.15012,466.62057 L 381.16238,462.28683"
         id="Page" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 383.15609,453.01117 L 381.16238,462.28683 L 378.15012,466.62057 L 376.84693,468.02093 L 375.2483,467.51818 L 373.88104,470.29503 L 372.22,474.62738 L 362.63866,467.36176 L 364.61792,462.41761 L 365.28015,460.88142 L 365.3833,460.74943 L 365.58144,460.48864 L 367.76887,458.77854 L 367.90011,459.05494 L 368.03677,459.31612 L 368.15983,459.34753 L 372.1841,456.21698 L 373.67738,453.60575 L 373.7811,453.26112 L 373.99513,451.34348 L 383.15609,453.01117"
         id="Shenandoah" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 392.85827,438.97827 L 401.43521,444.91933 L 396.80474,451.43879 L 395.34319,453.34403 L 389.31608,450.98989 L 392.85827,438.97827"
         id="Clarke" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 387.44207,442.16538 L 388.26407,442.30272 L 389.82277,443.26645 L 387.81038,447.06906 L 386.62158,445.94357 L 386.28891,443.85181 L 386.43647,443.04654 L 386.86321,442.03938 L 387.44207,442.16538"
         id="Winchester" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 379.7526,429.88034 L 384.67133,433.24371 L 392.85827,438.97827 L 389.31608,450.98989 L 383.15609,453.01117 L 373.99513,451.34348 L 375.24828,449.59964 L 375.72563,449.21966 L 377.01952,448.16506 L 377.71618,447.13632 L 378.43213,445.82187 L 378.64996,445.0233 L 379.66943,435.43036 L 379.7526,429.88034 z M 387.44207,442.16538 L 386.86321,442.03938 L 386.43647,443.04654 L 386.28891,443.85181 L 386.62158,445.94357 L 387.81038,447.06906 L 389.82277,443.26645 L 388.26407,442.30272 L 387.44207,442.16538"
         id="Frederick" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 389.31608,450.98989 L 395.34319,453.34403 L 390.98616,459.76347 L 385.44964,465.53888 L 381.16238,462.28683 L 383.15609,453.01117 L 389.31608,450.98989"
         id="Warren" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 385.44964,465.53888 L 390.98616,459.76347 L 392.72373,461.33116 L 395.61798,464.81692 L 396.27627,466.30158 L 396.48505,466.54991 L 396.97674,466.97092 L 398.59826,467.60582 L 399.37767,467.48701 L 395.40976,471.47373 L 390.79858,477.21118 L 388.59859,476.85998 L 383.97052,472.42922 L 385.44964,465.53888"
         id="Rappahannock" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 383.97052,472.42922 L 388.59859,476.85998 L 395.03119,487.57582 L 387.65405,490.30055 L 380.20524,480.53575 L 383.97052,472.42922"
         id="Madison" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 387.65405,490.30055 L 395.03119,487.57582 L 398.78394,485.27025 L 401.92869,483.60009 L 404.09014,483.07316 L 407.76993,482.48594 L 409.55894,483.22345 L 410.14915,483.60263 L 401.42284,496.90122 L 391.39408,497.02592 L 384.7961,494.99953 L 387.65405,490.30055"
         id="Orange" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 391.39408,497.02592 L 401.42284,496.90122 L 412.47774,501.43165 L 409.53182,515.99341 L 403.91041,511.81869 L 402.99373,510.64821 L 400.06479,508.56141 L 398.17281,508.07801 L 388.10646,503.83866 L 391.39408,497.02592"
         id="Louisa" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 416.23716,516.56077 L 416.01783,523.91371 L 413.71258,522.76468 L 409.05642,521.5258 L 404.18693,521.2041 L 404.12838,521.44668 L 403.97821,521.70024 L 403.65812,521.91793 L 402.98986,522.02762 L 402.67181,522.01706 L 399.38361,521.09746 L 398.99695,520.69038 L 395.12768,516.39884 L 398.17281,508.07801 L 400.06479,508.56141 L 402.99373,510.64821 L 403.91041,511.81869 L 409.53182,515.99341 L 416.23716,516.56077"
         id="Goochland" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 416.01783,523.91371 L 408.76773,532.0076 L 408.08712,530.59173 L 406.90316,529.41549 L 406.73901,529.27776 L 405.69488,529.03263 L 403.16329,529.02013 L 401.44312,529.95932 L 399.90535,531.09311 L 398.82985,531.6328 L 397.95543,531.63228 L 397.59126,531.19585 L 398.99695,520.69038 L 399.38361,521.09746 L 402.67181,522.01706 L 402.98986,522.02762 L 403.65812,521.91793 L 403.97821,521.70024 L 404.12838,521.44668 L 404.18693,521.2041 L 409.05642,521.5258 L 413.71258,522.76468 L 416.01783,523.91371"
         id="Powhatan" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 397.59126,531.19585 L 397.95543,531.63228 L 398.82985,531.6328 L 399.90535,531.09311 L 401.44312,529.95932 L 403.16329,529.02013 L 405.69488,529.03263 L 406.73901,529.27776 L 406.90316,529.41549 L 408.08712,530.59173 L 408.76773,532.0076 L 408.05355,532.06171 L 407.97475,532.14482 L 408.00756,533.86929 L 408.13624,534.75206 L 413.11358,539.11362 L 413.37437,539.22905 L 413.84858,539.25448 L 414.07088,539.15355 L 414.13204,539.04908 L 414.16232,538.35869 L 414.95581,537.5125 L 415.15917,537.44518 L 416.8407,537.65646 L 417.64027,538.98123 L 412.21112,543.21488 L 394.39203,539.6044 L 393.89905,535.96904 L 397.59126,531.19585"
         id="Amelia" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 394.90609,548.56337 L 394.39203,539.6044 L 412.21112,543.21488 L 409.47004,553.92806 L 404.76443,552.62932 L 394.90609,548.56337"
         id="Nottoway" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 404.76443,552.62932 L 409.47004,553.92806 L 419.20492,557.80105 L 420.19525,566.97079 L 416.54899,575.97886 L 411.23081,576.48104 L 405.34844,577.07526 L 404.99502,565.14581 L 404.76443,552.62932"
         id="Brunswick" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 417.64027,538.98123 L 425.94093,540.33461 L 425.57406,541.78863 L 426.78107,542.72284 L 428.12856,542.76051 L 429.06237,551.77912 L 420.84077,558.49248 L 419.20492,557.80105 L 409.47004,553.92806 L 412.21112,543.21488 L 417.64027,538.98123"
         id="Dinwiddie" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 425.9581,566.68033 L 426.23849,568.20383 L 426.11919,568.87788 L 424.41558,569.76744 L 423.48279,569.55259 L 423.00367,567.84079 L 422.98526,567.49634 L 423.31033,566.85371 L 425.19668,566.23758 L 425.65396,566.31657 L 425.9581,566.68033"
         id="Emporia" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 429.25255,566.3755 L 435.45934,574.08407 L 416.54899,575.97886 L 420.19525,566.97079 L 419.20492,557.80105 L 420.84077,558.49248 L 423.49566,559.8993 L 426.78989,565.92836 L 429.25255,566.3755 z M 425.9581,566.68033 L 425.65396,566.31657 L 425.19668,566.23758 L 423.31033,566.85371 L 422.98526,567.49634 L 423.00367,567.84079 L 423.48279,569.55259 L 424.41558,569.76744 L 426.11919,568.87788 L 426.23849,568.20383 L 425.9581,566.68033"
         id="Greensville" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 468.45161,541.7734 L 467.98154,538.84925 L 468.16962,538.03207 L 468.16047,537.34189 L 468.14429,537.13945 L 470.49148,537.1029 L 472.28445,539.16428 L 472.63903,540.69486 L 468.45161,541.7734"
         id="Poquoson" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 449.49828,564.27299 L 450.42341,567.21683 L 450.39535,567.30476 L 448.13294,567.69208 L 447.26832,566.38869 L 447.05188,565.10366 L 447.16114,564.36959 L 447.71488,564.13869 L 448.55863,564.25446 L 449.49828,564.27299"
         id="Franklin" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 449.49828,564.27299 L 448.55863,564.25446 L 447.71488,564.13869 L 447.16114,564.36959 L 447.05188,565.10366 L 447.26832,566.38869 L 448.13294,567.69208 L 450.39535,567.30476 L 450.42341,567.21683 L 450.9229,567.39042 L 450.6607,572.54525 L 440.73905,573.44826 L 435.45934,574.08407 L 429.25255,566.3755 L 447.07595,552.39477 L 450.9359,549.33525 L 449.49828,564.27299"
         id="Southampton" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 468.45161,541.7734 L 472.63903,540.69486 L 474.78514,544.96419 L 472.94591,547.52673 L 468.97374,548.24763 L 466.88667,542.53041 L 468.45161,541.7734"
         id="Hampton" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 457.36984,535.62151 L 457.40258,535.85702 L 456.9494,536.1487 L 456.20381,536.32588 L 454.8539,536.35496 L 454.01128,536.22748 L 453.60936,535.81502 L 453.34744,535.38043 L 453.15362,532.94737 L 454.05475,532.25321 L 454.34495,532.72202 L 454.53197,532.99191 L 455.70417,533.17439 L 456.1767,533.09333 L 457.1456,534.08757 L 457.36984,535.62151"
         id="Williamsburg" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 460.01138,537.16886 L 466.88667,542.53041 L 468.97374,548.24763 L 468.58806,549.11295 L 468.2875,549.08434 L 467.85045,548.83397 L 459.47218,542.08857 L 459.16695,541.73653 L 459.15713,538.86011 L 460.01138,537.16886"
         id="Newport_News" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 469.00127,552.38621 L 471.51346,551.03004 L 474.24289,555.70941 L 470.2687,556.824 L 468.77346,554.03466 L 469.00127,552.38621"
         id="Portsmouth" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 454.34495,532.72202 L 456.43524,529.05287 L 463.55095,535.40629 L 463.39241,535.78904 L 463.8313,536.18534 L 464.75703,536.55705 L 467.8005,535.74384 L 467.98325,535.85182 L 468.14429,537.13945 L 468.16047,537.34189 L 468.16962,538.03207 L 467.98154,538.84925 L 468.45161,541.7734 L 466.88667,542.53041 L 460.01138,537.16886 L 457.36984,535.62151 L 457.1456,534.08757 L 456.1767,533.09333 L 455.70417,533.17439 L 454.53197,532.99191 L 454.34495,532.72202"
         id="York" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 452.64443,525.01301 L 454.01301,526.69129 L 456.43524,529.05287 L 454.34495,532.72202 L 454.05475,532.25321 L 453.15362,532.94737 L 453.34744,535.38043 L 453.60936,535.81502 L 454.01128,536.22748 L 454.8539,536.35496 L 456.20381,536.32588 L 456.9494,536.1487 L 457.40258,535.85702 L 457.36984,535.62151 L 460.01138,537.16886 L 459.15713,538.86011 L 454.7246,537.71343 L 448.37715,537.97974 L 446.69948,530.23747 L 452.64443,525.01301"
         id="James_City" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 448.37715,537.97974 L 454.7246,537.71343 L 457.47983,541.41837 L 450.9359,549.33525 L 447.07595,552.39477 L 446.27296,549.61618 L 442.75881,546.64254 L 442.60044,546.81654 L 441.54256,546.71584 L 438.43778,545.23467 L 438.2545,545.09119 L 438.13217,544.88653 L 438.13031,544.74061 L 444.67962,537.05665 L 448.37715,537.97974"
         id="Surry" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 438.13031,544.74061 L 438.13217,544.88653 L 438.2545,545.09119 L 438.43778,545.23467 L 441.54256,546.71584 L 442.60044,546.81654 L 442.75881,546.64254 L 446.27296,549.61618 L 447.07595,552.39477 L 429.25255,566.3755 L 426.78989,565.92836 L 423.49566,559.8993 L 420.84077,558.49248 L 429.06237,551.77912 L 438.13031,544.74061"
         id="Sussex" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 431.96301,535.08597 L 432.45132,534.6322 L 444.67962,537.05665 L 438.13031,544.74061 L 429.06237,551.77912 L 428.12856,542.76051 L 429.72406,543.33779 L 430.62012,541.33146 L 430.49588,540.07097 L 428.61632,538.91912 L 429.97143,535.31788 L 430.63332,537.55127 L 431.56279,538.38029 L 433.26563,537.25037 L 433.6251,536.28801 L 433.26073,535.81218 L 432.16004,535.08505 L 431.96301,535.08597"
         id="Prince_George" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 428.53622,539.05725 L 428.61632,538.91912 L 430.49588,540.07097 L 430.62012,541.33146 L 429.72406,543.33779 L 428.12856,542.76051 L 426.78107,542.72284 L 425.57406,541.78863 L 425.94093,540.33461 L 426.80824,539.83026 L 427.10751,539.66572 L 427.61629,539.41086 L 428.01165,539.27123 L 428.16836,539.3216 L 428.489,539.13942 L 428.53622,539.05725"
         id="Petersburg" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 416.23716,516.56077 L 420.14284,516.95223 L 425.72783,520.76503 L 427.71445,521.70254 L 432.16875,523.40671 L 432.98961,523.55574 L 435.25607,525.65038 L 432.93855,531.49979 L 425.84944,528.83975 L 426.63632,525.78707 L 426.59534,524.14851 L 425.48121,522.07294 L 424.40732,521.23018 L 423.99761,521.06516 L 423.09662,521.38509 L 420.72346,522.27395 L 418.3509,524.02549 L 416.01783,523.91371 L 416.23716,516.56077"
         id="Henrico" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 416.01783,523.91371 L 418.3509,524.02549 L 419.51094,526.40479 L 421.66554,529.50898 L 425.84944,528.83975 L 432.93855,531.49979 L 432.45132,534.6322 L 431.96301,535.08597 L 429.97143,535.31788 L 428.61632,538.91912 L 428.53622,539.05725 L 428.43484,537.68075 L 428.54783,537.40397 L 428.52775,536.8703 L 428.07415,536.42139 L 427.19992,536.4603 L 426.45344,537.18493 L 426.12668,537.63831 L 426.22933,538.46346 L 426.80824,539.83026 L 425.94093,540.33461 L 417.64027,538.98123 L 416.8407,537.65646 L 415.15917,537.44518 L 414.95581,537.5125 L 414.16232,538.35869 L 414.13204,539.04908 L 414.07088,539.15355 L 413.84858,539.25448 L 413.37437,539.22905 L 413.11358,539.11362 L 408.13624,534.75206 L 408.00756,533.86929 L 407.97475,532.14482 L 408.05355,532.06171 L 408.76773,532.0076 L 416.01783,523.91371"
         id="Chesterfield" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 435.25607,525.65038 L 446.69948,530.23747 L 448.37715,537.97974 L 444.67962,537.05665 L 432.45132,534.6322 L 432.93855,531.49979 L 435.25607,525.65038"
         id="Charles_City" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 436.68442,518.50707 L 439.57689,519.6529 L 447.63213,520.43934 L 450.38578,522.67095 L 452.64443,525.01301 L 446.69948,530.23747 L 435.25607,525.65038 L 432.98961,523.55574 L 436.68442,518.50707"
         id="New_Kent" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 425.84944,528.83975 L 421.66554,529.50898 L 419.51094,526.40479 L 418.3509,524.02549 L 420.72346,522.27395 L 423.09662,521.38509 L 423.99761,521.06516 L 424.40732,521.23018 L 425.48121,522.07294 L 426.59534,524.14851 L 426.63632,525.78707 L 425.84944,528.83975"
         id="Richmond" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 420.52735,486.46939 L 419.01724,486.85742 L 417.13376,485.53977 L 416.98908,484.41126 L 417.70769,483.9794 L 418.23077,483.69832 L 419.20205,483.96408 L 419.92497,484.19046 L 420.53248,484.92578 L 420.52735,486.46939"
         id="Fredericksburg" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 421.18254,456.61894 L 422.55883,456.14726 L 423.77027,456.45559 L 423.99893,456.86733 L 424.06351,458.38211 L 423.07908,458.87532 L 421.70258,458.97669 L 420.5731,458.01442 L 420.63182,457.39764 L 421.18254,456.61894"
         id="Fairfax" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 416.00958,461.71994 L 416.83774,462.16507 L 417.16045,462.49912 L 417.451,462.79857 L 417.34086,464.32822 L 415.23988,466.08199 L 414.24497,465.52642 L 414.02855,464.655 L 414.16219,464.1202 L 415.1051,462.44922 L 415.9763,461.69706 L 416.00958,461.71994"
         id="Manassas" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 404.73305,434.93666 L 406.26049,434.9048 L 415.29014,439.06912 L 413.51171,441.36566 L 413.31152,441.77202 L 413.27399,442.00085 L 413.12011,442.62432 L 413.02978,443.07658 L 413.03777,443.11673 L 413.22538,444.00117 L 413.41966,444.31904 L 413.44308,444.32127 L 413.67229,444.52034 L 416.00731,446.43242 L 416.07851,446.47072 L 417.45574,446.69242 L 419.34974,446.78209 L 421.20026,446.74947 L 414.21002,458.27926 L 409.0862,453.88405 L 396.80474,451.43879 L 401.43521,444.91933 L 404.73305,434.93666"
         id="Loudoun" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 396.80474,451.43879 L 409.0862,453.88405 L 407.21702,459.16165 L 407.29028,459.71615 L 414.53543,471.04111 L 415.85626,473.01424 L 412.52316,480.84284 L 408.91862,480.76365 L 408.40186,480.64749 L 407.80943,480.37446 L 407.48763,479.98931 L 404.57547,475.36739 L 402.53719,471.37224 L 399.37767,467.48701 L 398.59826,467.60582 L 396.97674,466.97092 L 396.48505,466.54991 L 396.27627,466.30158 L 395.61798,464.81692 L 392.72373,461.33116 L 390.98616,459.76347 L 395.34319,453.34403 L 396.80474,451.43879"
         id="Fauquier" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 399.37767,467.48701 L 402.53719,471.37224 L 404.57547,475.36739 L 407.48763,479.98931 L 407.80943,480.37446 L 408.40186,480.64749 L 408.91862,480.76365 L 412.52316,480.84284 L 413.38948,482.9145 L 410.14915,483.60263 L 409.55894,483.22345 L 407.76993,482.48594 L 404.09014,483.07316 L 401.92869,483.60009 L 398.78394,485.27025 L 395.03119,487.57582 L 388.59859,476.85998 L 390.79858,477.21118 L 395.40976,471.47373 L 399.37767,467.48701"
         id="Culpeper" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 413.38948,482.9145 L 417.13376,485.53977 L 419.01724,486.85742 L 420.52735,486.46939 L 423.74123,488.087 L 414.34761,502.10593 L 412.47774,501.43165 L 401.42284,496.90122 L 410.14915,483.60263 L 413.38948,482.9145"
         id="Spotsylvania" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 412.47774,501.43165 L 414.34761,502.10593 L 427.08486,511.18454 L 428.27113,513.90903 L 429.69674,514.6986 L 434.5316,517.08105 L 436.68442,518.50707 L 432.98961,523.55574 L 432.16875,523.40671 L 427.71445,521.70254 L 425.72783,520.76503 L 420.14284,516.95223 L 416.23716,516.56077 L 409.53182,515.99341 L 412.47774,501.43165"
         id="Hanover" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 433.00375,505.32341 L 433.46063,504.9927 L 434.331,505.69791 L 437.62073,511.44295 L 444.55132,514.56846 L 449.85973,519.05214 L 450.74725,520.73586 L 450.79687,520.91783 L 450.58821,522.40661 L 450.38578,522.67095 L 447.63213,520.43934 L 439.57689,519.6529 L 436.68442,518.50707 L 434.5316,517.08105 L 429.69674,514.6986 L 428.27113,513.90903 L 427.08486,511.18454 L 433.00375,505.32341"
         id="King_William" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 433.00375,505.32341 L 437.00474,501.15471 L 439.30976,505.28555 L 440.73879,507.44622 L 443.37475,509.38303 L 445.06037,509.22046 L 446.9653,508.65733 L 448.47415,508.65518 L 448.96287,509.02471 L 450.59004,511.00729 L 450.84975,511.79619 L 455.37772,517.73392 L 455.17622,521.54739 L 455.29224,521.98386 L 456.2128,523.1547 L 456.36656,523.64989 L 456.34352,523.89191 L 456.20971,524.30459 L 455.82811,524.96154 L 454.01301,526.69129 L 452.64443,525.01301 L 450.38578,522.67095 L 450.58821,522.40661 L 450.79687,520.91783 L 450.74725,520.73586 L 449.85973,519.05214 L 444.55132,514.56846 L 437.62073,511.44295 L 434.331,505.69791 L 433.46063,504.9927 L 433.00375,505.32341"
         id="King_and_Queen" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 453.31542,509.43901 L 458.30287,515.18415 L 459.7036,516.56613 L 460.07278,516.74309 L 464.65451,516.94286 L 469.6042,518.28452 L 469.70849,518.4717 L 469.56742,518.83642 L 468.55196,519.69695 L 467.80768,519.81911 L 464.43372,521.2902 L 455.37772,517.73392 L 450.84975,511.79619 L 453.31542,509.43901"
         id="Middlesex" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 464.43372,521.2902 L 466.24605,526.9143 L 465.96108,526.88718 L 465.20253,528.11091 L 464.95814,528.81636 L 465.44073,529.37436 L 467.57723,531.55116 L 469.13727,532.87347 L 469.29471,533.08148 L 468.81123,533.31907 L 466.2548,534.47802 L 463.55095,535.40629 L 456.43524,529.05287 L 454.01301,526.69129 L 455.82811,524.96154 L 456.20971,524.30459 L 456.34352,523.89191 L 456.36656,523.64989 L 456.2128,523.1547 L 455.29224,521.98386 L 455.17622,521.54739 L 455.37772,517.73392 L 458.00453,518.76548 L 464.43372,521.2902"
         id="Gloucester" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 454.80505,508.10762 L 459.82439,505.15844 L 468.02275,512.4697 L 469.67874,514.68742 L 470.09777,515.33392 L 470.09146,515.56573 L 466.86281,516.08952 L 461.52087,513.82031 L 459.45579,512.38295 L 454.80505,508.10762"
         id="Lancaster" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 441.64713,494.92393 L 441.61401,494.52686 L 443.7438,492.26377 L 443.91089,492.37028 L 446.80996,495.30899 L 448.82269,497.8758 L 449.6564,498.09696 L 454.14079,499.23676 L 459.82439,505.15844 L 454.80505,508.10762 L 449.22565,504.4017 L 441.64713,494.92393"
         id="Richmond_County" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 436.28706,491.14829 L 441.64713,494.92393 L 449.22565,504.4017 L 453.31542,509.43901 L 450.84975,511.79619 L 450.59004,511.00729 L 448.96287,509.02471 L 448.47415,508.65518 L 446.9653,508.65733 L 445.06037,509.22046 L 443.37475,509.38303 L 440.73879,507.44622 L 439.30976,505.28555 L 437.00474,501.15471 L 434.22415,491.96423 L 436.28706,491.14829"
         id="Essex" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 425.46031,487.98672 L 434.22415,491.96423 L 437.00474,501.15471 L 433.00375,505.32341 L 427.08486,511.18454 L 414.34761,502.10593 L 423.74123,488.087 L 425.46031,487.98672"
         id="Caroline" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 421.20026,446.74947 L 429.92513,452.21222 L 426.24356,453.97704 L 426.32702,454.05194 L 424.8844,455.0136 L 426.05725,456.88598 L 428.52391,455.96665 L 430.2942,457.52169 L 429.17824,459.56222 L 431.33401,460.21253 L 433.84697,459.34486 L 432.48073,463.64226 L 431.10777,467.43088 L 427.60681,467.62941 L 414.21002,458.27926 L 421.20026,446.74947 z M 421.18254,456.61894 L 420.63182,457.39764 L 420.5731,458.01442 L 421.70258,458.97669 L 423.07908,458.87532 L 424.06351,458.38211 L 423.99893,456.86733 L 423.77027,456.45559 L 422.55883,456.14726 L 421.18254,456.61894"
         id="Fairfax_County" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 409.0862,453.88405 L 414.21002,458.27926 L 427.60681,467.62941 L 425.02094,474.8083 L 415.85626,473.01424 L 414.53543,471.04111 L 407.29028,459.71615 L 407.21702,459.16165 L 409.0862,453.88405 z M 416.00958,461.71994 L 415.9763,461.69706 L 415.1051,462.44922 L 414.16219,464.1202 L 414.02855,464.655 L 414.24497,465.52642 L 415.23988,466.08199 L 417.34086,464.32822 L 417.451,462.79857 L 417.16045,462.49912 L 417.71233,462.28773 L 418.47909,461.7226 L 418.51068,461.39079 L 418.2428,461.18409 L 417.25981,460.75178 L 416.68858,460.75256 L 416.42538,461.11745 L 416.00958,461.71994 z M 418.32543,462.96451 L 419.03609,463.31971 L 419.44148,462.57837 L 419.27935,462.04692 L 418.7871,461.83857 L 418.00846,462.52862 L 418.04883,462.89091 L 418.32543,462.96451"
         id="Prince_William" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 413.38948,482.9145 L 412.52316,480.84284 L 415.85626,473.01424 L 425.02094,474.8083 L 426.51531,482.65525 L 425.46031,487.98672 L 423.74123,488.087 L 420.52735,486.46939 L 420.53248,484.92578 L 419.92497,484.19046 L 419.20205,483.96408 L 418.23077,483.69832 L 417.70769,483.9794 L 416.98908,484.41126 L 417.13376,485.53977 L 413.38948,482.9145"
         id="Stafford" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 426.51531,482.65525 L 438.19023,484.97582 L 436.28706,491.14829 L 434.22415,491.96423 L 425.46031,487.98672 L 426.51531,482.65525"
         id="King_George" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 438.19023,484.97582 L 439.91877,488.08672 L 443.55034,489.82682 L 445.02982,490.13306 L 448.81894,490.05256 L 453.3012,489.76625 L 453.8098,489.88557 L 453.94698,489.93408 L 457.10927,493.25236 L 457.4515,493.58826 L 458.12262,494.89686 L 458.28251,495.28627 L 454.14079,499.23676 L 449.6564,498.09696 L 448.82269,497.8758 L 446.80996,495.30899 L 443.91089,492.37028 L 443.7438,492.26377 L 441.61401,494.52686 L 441.64713,494.92393 L 436.28706,491.14829 L 438.19023,484.97582"
         id="Westmoreland" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 458.28251,495.28627 L 458.90173,495.85729 L 462.72033,498.28087 L 463.74012,498.57489 L 465.01811,498.7635 L 465.32909,498.84824 L 465.67374,498.95195 L 465.75813,498.97574 L 468.96141,500.41507 L 470.22957,501.41026 L 469.97303,504.31251 L 468.77872,511.85233 L 468.02275,512.4697 L 459.82439,505.15844 L 454.14079,499.23676 L 458.28251,495.28627"
         id="Northumberland" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 464.43372,521.2902 L 467.80768,519.81911 L 470.1183,520.5393 L 470.35214,520.64822 L 470.66482,520.92219 L 471.45435,522.18693 L 472.14872,523.87197 L 472.6288,526.02897 L 472.77884,526.89408 L 472.72162,527.49523 L 471.68862,530.48509 L 470.42325,529.66743 L 466.24605,526.9143 L 464.43372,521.2902"
         id="Mathews" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 477.83337,549.72905 L 478.4124,553.49472 L 476.68203,554.49989 L 474.24289,555.70941 L 471.51346,551.03004 L 477.83337,549.72905"
         id="Norfolk" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 449.49828,564.27299 L 450.9359,549.33525 L 457.47983,541.41837 L 465.94598,551.4612 L 464.15984,551.97657 L 463.99514,552.05151 L 450.9229,567.39042 L 450.42341,567.21683 L 449.49828,564.27299"
         id="Isle_of_Wight" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 469.00127,552.38621 L 468.77346,554.03466 L 467.72405,570.3565 L 465.70867,570.59007 L 450.73244,572.53634 L 450.6607,572.54525 L 450.9229,567.39042 L 463.99514,552.05151 L 464.15984,551.97657 L 465.94598,551.4612 L 469.00127,552.38621"
         id="Suffolk" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 474.24289,555.70941 L 476.68203,554.49989 L 482.50177,568.67495 L 474.86019,569.54287 L 467.72405,570.3565 L 468.77346,554.03466 L 470.2687,556.824 L 474.24289,555.70941"
         id="Chesapeake" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 477.83337,549.72905 L 483.83392,548.96884 L 484.63249,548.9385 L 484.89423,549.00281 L 485.37904,549.28922 L 485.63056,549.83312 L 492.25305,565.83743 L 492.74239,567.48325 L 482.50177,568.67495 L 476.68203,554.49989 L 478.4124,553.49472 L 477.83337,549.72905"
         id="Virginia_Beach" />
      <path fill="#CCCCCC" fill-opacity=1 fill-rule=nonzero stroke="#FFFFFF" stroke-miterlimit="1"
         d="M 417.24233,460.70875 L 416.66943,460.74654 L 416.34416,461.25408 L 416.00653,461.72973 L 416.84228,462.1632 L 417.19014,462.55018 L 417.43481,462.40422 L 417.69186,462.29023 L 417.83491,462.24228 L 418.03169,462.59953 L 418.02084,462.87545 L 418.46813,463.02576 L 419.08389,463.34591 L 419.43238,462.59435 L 419.25593,462.02365 L 418.75055,461.83707 L 418.5029,461.6904 L 418.53048,461.40067 L 418.25673,461.20535 L 417.24233,460.70875 z"
         id="Manassas_Park" />
    </g>
  </g>
</svg>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<%= javascript_include_tag "map.js" %>
<script>
var counties = {}
<% @counties.each do |county, activity| %>
	counties['#<%= county %>'] = '<%= activity %>'
<% end %>
$.each(counties, function(county, activity) {
	$(county).each(function() {
		$(this).addClass(activity)
	});
});
</script>
